body{
background-image: url(../images/1_6.JPG);
background-repeat: no-repeat;
background-size: cover;
}
.headth{

    text-align: center;
    display: block;
     margin-top:50px ;
     color: rgb(15, 27, 197);

}

.parents1{
    background-image: url(../images/ice2.jpg);
    width: 300px;
height: 300px;
border: 3px solid rgb(247, 80, 14);
float: left;
margin-left: 150px;
margin-top: 150px;
border-radius: 30px;
text-align: center;
}



.parents1-header{
    text-align: center;

}
.parents1-casin{
    width: 110px;
    height: 110px;
    border: 5px solid black;
    border-radius: 65px;
    text-align: center;
    margin-left: 90px;
    border: radius 30px;
}
.header1{
    
    text-align: center;
}
.header11{

}
.bu1{
    margin-left: 5px;
    margin-top: -20px;
    background-color: blue;
}


.parents2{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
    border-radius: 30px;
    text-align: center;
    background-image: url(../images/1_6.JPG);
}
.parents2-header{

    text-align: center;

}
.parents2-casin{
    width: 110px;
    height:110px;
    border: 5px solid rgb(25, 131, 117);
    border-radius: 65px;
    text-align: center;
    margin-left: 90px;
}
.header2{
    
    text-align: center;
}
.heder22{

}
.bu2{
    margin-left: 5px;
    margin-top: -20px;
    background-color: blue;
}

.parents3{
    width: 300px;
    height: 300px;
    border: 3px solid rgb(41, 90, 36);
    float: left;
    margin-top: 150px;
    border-radius: 30px;
    text-align: center;

}
.parents3-header{

    text-align: center;
}
.parents3-casin{
    width: 110px;
    height: 110px;
    border: 5px solid rgb(15, 168, 97);
border-radius: 65px;
text-align: center;
margin-left: 90px;
}
.header3{

    
    text-align: center;
}
.header33{


}
.bu3{

margin-left: 5px;
margin-top: -20px;
background-color: blue;
}