 .greater{

width: 100%;
height: 60px;
background-color: rgb(107, 193, 196);
}
.image1{
width:60px;
height: 60px;
float:left;
margin-left: 30px;
}
.item{
float: right;
list-style: none ;
display: inline-block;
margin: 20px;
}
.ancer{
 text-decoration:none;

}
.div1{
width: 300px;
height: 250px;
border:1px solid darkblue;
float: left;
border-radius: 30px;
text-align: center;
margin-left: 200px;
margin-top: 80px;
}
.div1 p{
    margin-top: 30px;
}
.div1 a{
margin:40px 0px;
text-decoration: none;
display:block;
color:darkolivegreen;
}


.div2{
    width: 300px;
    height: 250px;
    border:1px solid darkblue;
    float: left;
    text-align: center;
    border-radius: 30px;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .div2 p{
    margin-top: 30px;
}
.div2 a{
    margin: 40px 0px;
    text-decoration: none;
    color:darkolivegreen;
    display:block;
}

.div3{
    width: 300px;
    height:250px;
    border: 1px solid darkblue;
    border-radius: 30px;
    float: left;
    text-align: center;
    margin-top: 80px;
}
.div3 p{
    margin-top: 40px;
    
}
.div3 a{
    margin: 20px 0px;
    text-decoration: none;
    color:darkolivegreen;
    display:block
}
.hd1:hover{

    color:rgb(248, 6, 6)
}

.b1:hover{
    
    color:rgb(197, 218, 14)
}
.a1:hover{

    color:rgb(206, 43, 124)
}
.hd2:hover{

    color:rgb(248, 6, 6)
}
.b2:hover{
    color:rgb(197, 218, 14)
    
}
.a2:hover{

    color:rgb(206, 43, 124)
}
.hd3:hover{
color:rgb(248, 6, 6)
    
}
.b3:hover{

  color:rgb(197, 218, 14)  
}
.a3:hover{
color:rgb(206, 43, 124)
    
}
.div1:hover{
background-color: rgb(76, 172, 21);
}
.div2:hover{
    background-color: rgb(76, 172, 21);
}
.div3:hover{
    background-color: rgb(76, 172, 21);
}
